DATABASE_URL="file:./prisma/dev.db"
AUTH_SECRET="troque-por-um-segredo-forte"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_STORE_NAME="Lume Store"
NEXT_PUBLIC_CUSTOMER_DOCUMENT_LABEL="CPF"
